[Desktop Entry]
Name=Stock
Path=/home/phablet/zk-data/
Exec=python3 /home/phablet/zk-data/Stock.pyw
Terminal=false
X-Ubuntu-Touch=true
Type=Application
StartupNotify=true
Icon=None
