[Desktop Entry]
Name=StopPC
Keywords=zk-data;
Path=/home/kenny/zk-data/
Exec=/home/kenny/zk-data/StopPC.pyw
Terminal=false
Type=Application
StartupNotify=true
Icon=None
